@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './react-datepicker.css';
a {
  color: inherit;
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
}

input:focus-visible {
  border-color: var(--chakra-colors-orange-400) !important;
  box-shadow: 0 0 0 1px var(--chakra-colors-orange-400) !important;
}

* {
  box-sizing: border-box;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

/*Custom scrollbar*/
/*Chrome*/
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #77777d4d !important;
  border-radius: 40px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.541) !important;
}

/*FireFox*/
* {
  scrollbar-width: thin;
  scrollbar-color: #77777d inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
